Page {
    background-color: #FFFFFF;
}

Button {
    font-size: 16;
    horizontal-align: center;
}

.title {
    font-size: 14;
    horizontal-align: left;
    margin:20;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
