Page {
    background-color: #FFFFFF;
}

.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

Button {
    font-size: 16;
    horizontal-align: center;
    /*color: black;*/
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}


Page {
    background-color: white;
}
